<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, user-scalable=0"/>
  <meta name="language" content="ko"/>
  <meta property="og:locale" content="ko"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://www.domain.co.kr"/>
  <meta property="og:title" content="국민통합금융지원센터"/>
  <meta property="og:description" content="포탈에 대한 정보가 들어가는 곳입니다.."/>
  <meta property="og:image" content="sharethumb image" />
  <title>국민통합금융지원센터</title>
  <link rel="canonical" href="http://www.domain.co.kr"/>
  <link href="../common/css/master.css" rel="stylesheet" type="text/css"/>
  <link href="../common/css/main.css" rel="stylesheet" type="text/css"/>
  <link rel="Shortcut icon" type="image/x-icon" href=""/>
  <script src="../common/js/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div class="fund_wrap">
        <header>
            <div class="container">
                <h1><a href="javascript:void(0);">국민통합금융지원센터</a></h1>
            </div>
        </header>
        <section class="content">
            <article class="article_01 show">
                <div class="container caution">
                    <h5 class="move">- 재난지원금, 근로장려금이 아닌 대출지원 상품입니다.</h5>
                    <p class="move">
                        연 3.2% 최저금리<br/>4대 보험 가입 근로자 대상<br/>모바일 대출 지원
                    </p>
                    <h6 class="move">*4대보험가입이 가입 된 근로자만 신청가능한 지원상품입니다<br/>
                        *현재 회생, 회복, 파산중이신 고객님은 지원대상에서 제외됩니다</h6>
                    <a href="javascript:void(0);" class="consult_btn move">가능 여부 확인하기</a>
                </div>
            </article>
            <article class="article_02 show">
                <div class="container">
                    <ul>
                        <li class="move">최대 한도 <strong>1억원</strong></li>
                        <li class="move">이자율 <strong>3.2% ~</strong></li>
                        <li class="move">상환기간 <strong>최대 7년</strong></li>
                    </ul>
                </div>
            </article>
            <article class="article_03 show">
                <div class="container">
                    <div class="area">
                        <p class="txt_01 move">금리비교부터<br/>당일입금까지</p>
                        <p class="txt_02 move">연 금리 3.2&percnt;~<br/>최대 7년 상환으로 넉넉하게</p>
                        <figure class="move">
                            <img src="../images/main03.png" alt="**은행 **고객님 신청하신 대출심사가 아래와 같이 완료되어 안내드립니다. 대출신청금액 : 62,000,000원 이자율 : 3.6%..."/>
                        </figure>
                    </div>
                    <div class="area">
                        <p class="txt_01 move">근로소득 활동 시<br/>은행방문 없이 무서류</p>
                        <p class="txt_02 move">직장인이라면 누구나 최저금리 무료비교, 확정한도 확인!<br/>(한도,이자율 유선안내)</p>
                        <figure class="move">
                            <img src="../images/main04.png" alt="**은행 **고객님 신청하 대출심사가 아래와 같이 완료되어 안내드립니다. 대출신청금액 : 62,000,000원 이자율 : 3.6%..."/>
                        </figure>
                    </div>
                </div>
            </article>
            <article class="article_04 show">
                <div class="container">
                    <div class="area">
                        <p class="txt_01 move">근로자 대상<br/>모바일 지원 신청자격</p>
                        <p class="txt_02 move">개인회생, 회복, 파산 이력 신청불가<br/>신용불량자 신청불가</p>
                        <p class="txt_03 move">*회생, 회복 면책자는 신청 가능</p>
                        <a href="javascript:void(0);" class="consult_btn move">가능 여부 확인하기</a>
                    </div>
                    <ul class="condition">
                        <li class="move">
                            <div class="icon">
                                <img src="../images/icon01.jpg" alt=""/>
                            </div>
                            <h5>신청자격</h5>
                            <p>4대보험 가입 직장인</p>
                        </li>
                        <li class="move">
                            <div class="icon">
                                <img src="../images/icon02.jpg" alt=""/>
                            </div>
                            <h5>소득조건</h5>
                            <p>월소득 100만원 이상</p>
                        </li>
                        <li class="move">
                            <div class="icon">
                                <img src="../images/icon03.jpg" alt=""/>
                            </div>
                            <h5>신용등급</h5>
                            <p>1~7등급 이내</p>
                        </li>
                        <li class="move">
                            <div class="icon">
                                <img src="../images/icon04.jpg" alt=""/>
                            </div>
                            <h5>연체이력</h5>
                            <p>최근 3개월이내 X</p>
                        </li>
                    </ul>
                </div>
            </article>
            <article class="article_05 show">
                <div class="container">
                    <figure class="move">
                        <img src="../images/main05.png" alt="무서류 무방문 모바일로"/>
                    </figure>
                    <div class="area">
                        <p class="txt_01 move">어려운 금융<br/>국민통합금융지원센터가 함께<br/>합니다.</p>
                        <p class="txt_02 move">전화한통으로 간편하게 최고한도부터 금리비교까지<br/>신용등급 영향없는 안심한도조회<br/>신청부터 입금까지 당일처리</p>
                        <p class="txt_03 move">*조달자금소진 시 공지없이 상품취급이 중단 될 수 있습니다.</p>
                    </div>
                </div>
            </article>
            <article class="article_06">
                <div class="container">
                    <div class="title">
                        <p>신용등급 영향없는</p>
                        <h5>안심 한도확인</h5>
                    </div>
                    <form method="post">
                        <div class="form_wrap">
                            <div class="safety">
                                <img src="../images/cert_ing.gif" alt=""/>
                                <p>개인정보는 암호화되어 안전하게 처리됩니다.<br/><em>신용불량자, 연체자, 무직자는 접수 불가합니다.</em></p>
                            </div>
                            <div class="group">
                                <label for="name">이름</label>
                                <input type="text" id="name"/>
                            </div>
                            <div class="group">
                                <p>휴대전화</p>
                                <div class="mobile">
                                    <input type="text"/><span>-</span>
                                    <input type="text"/><span>-</span>
                                    <input type="text"/>
                                </div>
                            </div>
                            <div class="group">
                                <p>4대보험 가입여부</p>
                                <div class="set_chk">
                                    <input type="radio" id="rdoRegistered" name="Regist" value="가입" checked="checked"/>
                                    <label for="rdoRegistered">가입</label>
                                    <input type="radio" id="rdoUnRegistered" name="Regist" value="미가입"/>
                                    <label for="rdoUnRegistered">미가입</label>
                                </div>
                            </div>
                            <div class="group unit">
                                <label for="pay">연봉</label>
                                <input type="text" id="pay"/>
                                <span>만원</span>
                            </div>
                            <div class="group unit">
                                <label for="depay">총 부채금액</label>
                                <input type="text" id="depay"/>
                                <span>만원</span>
                            </div>
                            <div class="group unit">
                                <label for="depay">총 부채금액</label>
                                <input type="text" id="depay"/>
                                <span>만원</span>
                            </div>
                            <div class="group">
                                <p>최근 연체 경험 유무</p>
                                <div class="set_chk">
                                    <input type="radio" id="rdoYes" name="OverUse" value="있음" checked="checked"/>
                                    <label for="rdoYes">있음</label>
                                    <input type="radio" id="rdoNo" name="OverUse" value="없음"/>
                                    <label for="rdoNo">없음</label>
                                </div>
                            </div>
                        </div>
                        <div class="agreement">
                            <input type="checkbox" id="agree" value="N"/>
                            <label for="agree">개인정보처리방침 동의</label>
                            <a href="javascript:showModal();">[내용보기]</a>
                        </div>
                        <button type="button" class="submit_btn">신용등급 영향없는 안심 한도조회</button>
                    </form>
                </div>
            </article>
        </section>
        <div id="mask"></div>
        <div id="divModal" class="modal">
            <div class="header">
                <h4>개인정보처리방침</h4>
                <button type="button" class="b-close" onclick="hideModal();">x</button>
            </div>
            <div class="content">
                <p>개인정보 수집 및 이용 동의 약관<br/><br/><br/>
                    국민통합금융대부(이하 회사)은 고객님의 개인정보를 중요시하며, 정보통신망 이용촉진 및 정보보호 에 관한 법률을 준수하고 있습니다.<br/>
                    회사는 개인정보취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.<br/>
                    회사는 개인정보취급방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.<br/><br/>
                    o 본 방침은 : 2019 년 10 월 21 일 부터 시행됩니다.<br/><br/><br/><br/>
                    1. 수집하는 개인정보 항목<br/><br/>
                    회사는 대출 관련상담, 서비스 신청 등을 위해 아래와 같은 개인정보를 수집하고 있습니다.<br/><br/>
                    - 수집항목 : 이름, 휴대전화번호, 지역<br/><br/>
                    - 개인정보 수집방법 : 홈페이지(간편상담신청)<br/><br/><br/><br/>
                    2. 개인정보의 수집 및 이용목적<br/><br/>
                    회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.<br/><br/>
                    - 대출 서비스 제공에 관한 상담 신청<br/><br/>
                    - 마케팅 및 광고에 활용<br/>
                    이벤트 등 광고성 정보 전달<br/><br/><br/><br/>
                    3. 개인정보의 보유 및 이용기간<br/><br/>
                    개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다.<br/><br/><br/>
                    4. 개인정보의 파기절차 및 방법<br/><br/>
                    회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다. 파기절차 및 방법은 다음과 같습니다.<br/><br/>
                    - 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제<br/><br/><br/><br/>
                    5. 개인정보 제공<br/><br/>
                    회사는 이용자의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.<br/>
                    - 이용자들이 사전에 동의한 경우<br/>
                    - 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우<br/><br/><br/><br/>
                    6. 수집한 개인정보의 위탁<br/>
                    회사는 대부중개의 원활한 개인정보 업무처리를 위하여 아래 현황과 같이 개인정보 처리업무를 위탁하고 있습니다.<br/>
                    ① 수탁업체<br/><br/><br/><br/>
                    7. 이용자 및 법정대리인의 권리와 그 행사방법<br/>
                    이용자는 언제든지 등록되어 있는 자신의 개인정보를 조회하거나 수정할 수 있으며 가입해지를 요청할 수도 있습니다.<br/>
                    이용자들의 개인정보 조회,수정을 위해서는 개인정보변경 (또는 회원정보수정 회원탈퇴 를 클릭하여 본인 확인 절차를 거치신<br/>
                    후 직접 열람, 정정 또는 탈퇴가 가능합니다.<br/>
                    혹은 개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하시면 지체없이 조치하겠습니다.<br/>
                    귀하가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 <br/>개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체없이 통지하여 정정이 이루어지도록 하겠습니다.<br/>
                    회사는 이용자의 요청에 의해 해지 또는 삭제된 개인정보는 회사가 수집하는 개인정보의 보유 및 이<br/>
                    용기간 에 명시된 바에 따라 처리하고 그 외의<br/>
                    용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.<br/><br/><br/><br/>
                    8. 개인정보에 관한 민원서비스<br/>
                    회사는 고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보관리책임자를 지정하고 있습니다.<br/><br/>
                    개인정보관리책임자 성명 : 김태훈<br/>
                    전화번호 : 1533-0877<br/><br/><br/>
                    귀하께서는 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다. 회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.<br/>
                    기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.<br/><br/>
                    1.개인분쟁조정위원회 (www.1336.or.kr/1336)<br/>
                    2.정보보호마크인증위원회 (www.eprivacy.or.kr/02-580-0533~4)<br/>
                    3.대검찰청 인터넷범죄수사센터 (http://icic.sppo.go.kr/02-3480-3600)<br/>
                    4.경찰청 사이버테러대응센터 (www.ctrc.go.kr/02-392-0330)</p>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="center">
                    <p>대출금리 : 연 ~20%이내 (담보대출에 한해 심사기준에 따라 차등적용) 연체이율 : 연 ~20% 이내 대출중개수수료 없음<br class="none"/>
                        중개수수료를 요구하거나 받는것은 불법으로 대출과 관련된 일체 수수료를 받지 않습니다.<br/>
                        취급수수료 등 기타부대비용 없음 / 상환방법 : 원리금균등상환방식, 만기일시상환방식<br class="none"/> 이자 외 추가비용 없음 단, 일부 담보대출상품에 한해 저당설정, 해지비용 및 조기상환수수료가 발생할수 있습니다.<br/>
                        조기상환조건 : 대출실행일로 부터 1년 이내 상환시 최초 대출금 2% 적용,<br class="none"/>단 이자와 조기상환 수수료의 합산액은 20%를 초과하지 않음.<br/>
                        이 사이트에서 광고되는 상품들의 상환기간은 모두 60일 이상이며 최장 상환기간 120개월 미만입니다. 대출 총비용 예시는 다음과<br class="none"/> 같습니다. 1,000,000원을 12개월 동안 이자 20%, 최대 이자율 20%로 대출할시 총 상환금액은 1,111,614원입니다.<br class="none"/>
                        (대출 상품에 따라 달라질 수 있습니다)</p>
                    <ul class="info">
                        <li>사이트명 : 국민통합금융지원센터</li>
                        <li>상호명 : 국민통합금융대부</li>
                        <li>등록번호 : 450-94-01542</li>
                        <li>대표자 : 김태훈</li>
                        <li>소재지 : 경기도 남양주시 순화궁로 282, 1113-12</li>
                        <li>TEL : 1533-0877</li>
                    </ul>
                    <p class="caution">국민통합금융지원센터는 100% 무료상담입니다.</p>
                    <p class="copyright">Copyright &copy; 국민통합금융지원센터. All rights reserved.</p>
                </div>
            </div>
        </footer>
    </div>
    <script>
        ; (function ($) {
            'use strict';
            $.fn.center = function () {
                this.css('position', 'absolute');
                this.css('top', Math.max(0, (($(window).height() - $(this).outerHeight()) / 2) + $(window).scrollTop()) + 'px');
                this.css('left', 50 + '%');
                this.css('margin-left', '-' + $(this).outerWidth() / 2 + 'px');
                return this;
            }

            $.fn.reset = function () {
                this.css('position', 'initial');
                this.css('top', 'initial');
                this.css('left', 'initial');
                this.css('margin', 'initial');
                this.css('border', '0');
                return this;
            }

            $.fn.divLayerMask = function () {
                this.fadeTo(300, 0.7);
            }

            $.fn.showLayer = function (bgFlag) {
                if (bgFlag == true) { $('#mask').divLayerMask(); }
                this.show();
                this.center();
            }

            $.fn.hideLayer = function () {
                $('#mask').fadeOut();
                this.hide();
            }
        })(jQuery);

        function showModal() {
            $('#divModal').showLayer(true);
        }

        function hideModal() {
            $('#divModal').hideLayer();
        }

        $(function () {
            $('#mask').click(function () {
                $('#mask').fadeOut();
                $('.modal').hide();
            });
        });
    </script>
</body>
</html>